[phases.setup]
nixPkgs = ["python311", "zlib", "libjpeg", "libpng", "freetype", "lcms2", "libwebp", "harfbuzz", "fribidi"]

[phases.install]
cmds = ["pip install --upgrade pip setuptools wheel", "pip install -r requirements.txt"]
