providers = ["python"]

[variables]
NIXPACKS_PYTHON_VERSION = "3.11"

[phases.setup]
nixPkgs = ["python311", "zlib", "libjpeg", "libpng", "freetype", "lcms2", "libwebp", "harfbuzz", "fribidi", "gcc", "ffmpeg", "glib", "libGL", "libglvnd"]
aptPkgs = ["libgl1", "libglib2.0-0", "libsm6", "libxext6", "libxrender1"]

[phases.install]
cmds = [
    "pip install --upgrade pip setuptools wheel",
    "pip install -r requirements.txt",
    "pip uninstall -y opencv-python",
    "pip install opencv-python-headless"
]

[start]
cmd = "python -m uvicorn app:app --host 0.0.0.0 --port $PORT"
